.back {
  height: 100vh;
  width: 100wh;
  background-image:
          //radial-gradient(at 49% 96%, hsla(107,38%,60%,1) 0px, transparent 50%),
          radial-gradient(at 82% 98%, hsla(95,100%,68%,1) 0px, transparent 50%),
          radial-gradient(at 0% 100%, hsla(167,100%,85%,1) 0px, transparent 50%);
}
